@using hotelASP.Views.Rooms.Helpers
@model hotelASP.Models.CreateRoomViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="mainPage">

    <div class="standardHeader">
        <h3>Dodaj pokój</h3>
        <a asp-action="Index" class="addRoomStandardTypeBtn">Wróć</a>
        <a asp-controller="Rooms" asp-action="CreateRoomDescriptionOption" class="addRoomStandardTypeBtn">Opcje pokojów</a>
    </div>
    <hr />
    <div class="row">


        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Rooms.RoomNumber" class="control-label">Numer pokoju:</label>
                <input asp-for="Rooms.RoomNumber" class="form-control" />
                <span asp-validation-for="Rooms.RoomNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Podaj standard:</label>

                <select asp-for="Rooms.IdStandard" class="form-control" asp-items="@(new SelectList(Model.Standards, "IdStandard", "StandardName"))">
                    <option value="" readonly>Wybierz standard</option>
                </select>
                <span asp-validation-for="Rooms.IdStandard" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Wybierz typ:</label>

                <select asp-for="Rooms.IdType" class="form-control">
                    <option value="">Wybierz typ</option>
                    @foreach (var type in Model.RoomTypes)
                    {
                        <option value="@type.IdType">
                            @GrammarHelper.PeopleText(type.PeopleNumber) - @GrammarHelper.BedsText(type.BedNumber) - @type.BasePrice zł
                        </option>
                    }
                </select>
                <span asp-validation-for="Rooms.IdType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Rooms.FloorNumber" class="control-label">Piętro:</label>
                <input asp-for="Rooms.FloorNumber" class="form-control" />
                <span asp-validation-for="Rooms.FloorNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Opcje pokoju:</label>
                @foreach (var option in Model.RoomDescriptionOptions)
                {
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="SelectedOptions" value="@option.ID" id="option_@option.ID" />
                        <label class="form-check-label" for="option_@option.ID">@option.Name</label>
                    </div>
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Dodaj pokój" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>


<script>




</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
