@model IEnumerable<hotelASP.Entities.Room>
@{
    ViewData["Title"] = "Pokoje";
}

<div class="mainPage">

    @if (User.IsInRole("manager") || User.IsInRole("admin"))
    {
        <div class="boxRoomStandardType">
            <a asp-controller="Rooms" asp-action="Create" class="addRoomStandardTypeBtn"> Dodaj pokój </a>
            <a asp-controller="Rooms" asp-action="CreateStandard" class="addRoomStandardTypeBtn"> Dodaj standard </a>
            <a asp-controller="Rooms" asp-action="CreateType" class="addRoomStandardTypeBtn"> Dodaj typ </a>
        </div>
    }

    <div class="roomsTable">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Numer pokoju
                    </th>
                    <th>
                        Opis pokoju
                    </th>
                    <th>
                        Cena
                    </th>
                    <th>
                        Czy zajęty
                    </th>
                    <th>Opcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price) zł
                        </td>
                        <td>
                            @{
                                if (item.IsTaken == 0)
                                {
                                    <span style="color:green;">Wolny</span>
                                }
                                else
                                {
                                    <span style="color:red;">Zajęty</span>
                                }
                            }
                        </td>

                        <td>
                            <div class="optionsSection">
                                <a asp-action="Details" asp-route-id="@item.IdRoom" class="addRoomStandardTypeBtn">Szczegóły</a>
                                @if (User.IsInRole("manager") || User.IsInRole("admin"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.IdRoom" class="addRoomStandardTypeBtn">Edytuj</a>
                                    <a asp-action="Delete" asp-route-id="@item.IdRoom" class="addRoomStandardTypeBtn">Usuń</a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
