@model hotelASP.Models.ReservationViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_from)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_from)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_to)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_to)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.First_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.First_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Last_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Last_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRoom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_reservation">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
